@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Lobster&display=swap');
*{
  margin:0;
  padding:0;
}

/*                        background                          */

.Main{
  background-image: linear-gradient(to right top, #3eed55, #bcc900, #f79c00, #ff6d52, #ff528f, #ff4f8b, #ff4c87, #ff4983, #f9613f, #d18600, #90a300, #03b539);
    height:100vh;
    width:100%; 
    display:flex;
   justify-content:center;
   align-items:center;
    flex-direction:column-reverse;
}

.second{
  height:70vh;
  width:80%;
  background-color:yellow;
  border-radius:15px;
  display:flex;
  align-items:center;
  justify-content:center;
  
}

.content{
  display:flex;
  flex-direction:column-reverse;
  text-align:center;
  font-family:Arvo;
}


/*            image                 */


.image{
  border-radius:15px;
  width:100%;
  height:100%;
}

.name{
  font-size:3rem;
  margin-bottom:3%;
  text-transform:uppercase;
  font-style: normal;
}

h3{
  text-align:center;
  color:blue;
}

/*             button              */

.btn{
  width:8rem;
  height:2rem;
  text-align:center;
  border-radius:4px;
}

.btn:hover{
  background:blue;
  color:white;
  font-family:Arvo;
   transform: scale(1.2);
  border-radius:30%;
}

.button{
  padding-top:3rem;
  display:flex;
  justify-content:center;
}
